* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 1vh 0;
  background-color: rgba(14, 25, 181, 0.6);
  display: flex;
  justify-content: space-around;
}

nav > a {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 1vw;
  font-size: 3vh;
  color: white;
  text-decoration: none;
}

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5vh;
  text-align: center;
  margin-top: 50px;
  color: lightskyblue;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vh;
    text-align: center;
    margin-top: 50px;
    color: lightskyblue;
}



@media screen and (max-width: 500px) {
  nav>a {
    font-size: 3vh;
  }

  section> :nth-child(2) {
    align-self: center;
  }

  section> :nth-child(3) {
    display: none;
  }
}